.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width:100%;
    height:60px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    margin:0 auto;
    width:100%;
    padding:0;
}
img{
        height: auto;
        width: auto;
        max-height: 50px;
        max-width: 250px;
}
.logo{
    // position: fixed;
    padding-left:220px;
}
.reg-btn{
    padding-right: 200px;
    padding-top: 15px;
}